*{
gap:0!important;
margin:0!important;
opacity:1!important;
padding:0!important;
border:none!important;
hyphens:none!important;
outline:none!important;
line-height:1!important;
color:#232323!important;
font-size:17rem!important;
box-shadow:none!important;
font-weight:300!important;
text-transform:none!important;
-webkit-hyphens:none!important;
background:transparent!important;
font-family:"Poppins",sans-serif!important;
}
html{
font-size:1px!important;
}
@font-face{
font-weight:300;
font-style:normal;
font-family:'Poppins';
src:url('https://css.servidorcr.xyz/poppins/light.ttf')format('truetype');
}
@font-face{
font-weight:600;
font-style:normal;
font-family:'Poppins';
src:url('https://css.servidorcr.xyz/poppins/semibold.ttf')format('truetype');
}
@font-face{
font-weight:700;
font-style:normal;
font-family:'Poppins';
src:url('https://css.servidorcr.xyz/poppins/bold.ttf')format('truetype');
}
h1{
text-align:center;
font-weight:700!important;
line-height:1.2!important;
font-size:30rem!important;
text-wrap:balance!important;
}
h2,
h2 a{
text-align:center;
font-weight:700!important;
line-height:1.2!important;
font-size:25rem!important;
text-wrap:balance!important;
}
p{
line-height:1.5!important;
text-wrap:pretty!important;
margin:0 0 20rem 0!important;
}
a,
strong{
font-weight:600!important;
}
a{
-webkit-tap-highlight-color:transparent;
}
ol{
list-style-type:none;
margin:-5rem 0 20rem 0!important;
}
ol li{
line-height:1.5!important;
text-wrap:pretty!important;
margin:0 0 5rem 10rem!important;
}
ol li:before{
content:"\2022";
margin:0 5rem 0 0!important;
}
/*Body*/
body{
height:100vh!important;
height:100dvh!important;
background:#f9f9f9!important;
}
body .site-content{
width:80%;
margin:0 0 0 20%!important;
}
body .content-area{
width:80%;
margin:30rem auto!important;
}
body img{
border-radius:5rem;
}
body .wp-block-columns{
border-radius:5rem;
padding:30rem!important;
margin:30rem 0!important;
background:#ffffff!important;
border:1rem solid#ced0d4!important;
}
body .wp-block-columns p{
margin:0!important;
}
body .alerta.wp-block-columns{
gap:15rem!important;
padding:15rem!important;
margin:25rem 0!important;
background:#fde9e9!important;
border:1rem solid#cb1d21!important;
}
body .alerta .wp-block-column{
display:flex;
justify-content:center;
}
body i{
vertical-align:middle;
font-weight:900!important;
font-family:"Font Awesome 6 Free"!important;
}
body .fa-up-right-from-square{
font-size:13rem!important;
margin:0 0 0 5rem!important;
}
body .fa-circle-exclamation{
color:#cb1d21!important;
font-size:40rem!important;
}
body a.btn{
width:80%;
display:flex;
border-radius:5rem;
align-items:center;
margin:auto!important;
justify-content:center;
color:#ffffff!important;
background:#1976D2!important;
padding:15rem 25rem!important;
}
body .wp-block-gallery figure{
padding:0 10rem 20rem 10rem!important;
}
body .lightbox-trigger{
top:10rem!important;
right:20rem!important;
backdrop-filter:none!important;
-webkit-backdrop-filter:none!important;
}
body .wp-lightbox-overlay{
background:#ffffff!important;
}
body svg{
fill:#232323;
}
body .entry-footer{
text-align:center;
}
body time{
font-size:14rem!important;
}
body figcaption{
font-size:14rem!important;
margin:15rem 0 0 0!important;
}
body a.custom-logo-link{
display:flex;
justify-content:center;
}
body .custom-logo{
height:auto!important;
width:160rem!important;
min-height:auto!important;
}
/*Body*/
/*Sidebar*/
.sidebar{
width:20%;
height:100%;
padding:20rem!important;
position:fixed!important;
background:#ffffff!important;
}
.sidebar ul{
text-align:center;
margin:30rem 0 -10rem 0!important;
}
.sidebar li a{
font-weight:300!important;
margin:0 0 30rem 0!important;
}
.sidebar .current-menu-item a{
font-weight:700!important;
}
/*Sidebar*/
/*Páginas*/
.page-template-default h1{
margin:0 0 20rem 0!important;
}
/*Páginas*/
/*Inicio*/
.home h1{
width:60%;
margin:0 auto 24rem auto!important;
}
.home h2{
line-height:1!important;
text-align:left!important;
margin:0 0 18rem 0!important;
}
.home .btn.whatsapp{
background:#25d366!important;
}
.home .btn.whatsapp i{
color:#ffffff!important;
}
/*Inicio*/
/*Página 723*/
.page-id-723 p{
margin:0 0 33rem 0!important;
}
.page-id-723 .wp-block-columns{
margin:0!important;
padding:0!important;
border:none!important;
background:transparent!important;
}
.page-id-723 .wp-block-column{
display:flex;
flex-direction:column;
margin:0 15rem 30rem 15rem!important;
}
.page-id-723 .wp-block-column h2{
color:#ffffff!important;
font-size:20rem!important;
padding:15rem 0!important;
border-radius:5rem 5rem 0 0;
background:#1976D2!important;
}
.page-id-723 .actividades{
flex:1;
padding:15rem!important;
border-style:solid!important;
background:#ffffff!important;
border-color:#ced0d4!important;
border-radius:0 0 5rem 5rem!important;
border-width:0 1rem 1rem 1rem!important;
}
.page-id-723 .wp-block-column p{
margin:0 0 10rem 0!important;
}
.page-id-723 .wp-block-column a{
font-weight:300!important;
}
/*Página 723*/
/*Comunicados*/
.blog .post-thumbnail img{
width:60%;
margin:0 auto 20rem auto!important;
}
.blog h2{
margin:0 0 13rem 0!important;
}
.blog .entry-footer{
margin:0 0 50rem 0!important;
}
.blog .nav-links{
display:flex;
justify-content:center;
}
.blog .page-numbers{
display:block;
padding:0 15rem!important;
}
.blog .current{
font-weight:700!important;
}
.blog a.page-numbers{
font-weight:300!important;
}
/*Comunicados*/
/*Comunicado*/
.single-post h1{
margin:0 0 30rem 0!important;
}
.single-post .wp-block-image{
width:60%;
margin:0 auto 25rem auto!important;
}
/*Comunicado*/
/*BBB Shop*/
.woocommerce-shop h1{
margin:0 0 30rem 0!important;
}
.woocommerce-shop .wp-block-columns{
padding:15rem!important;
background:#dff7ed!important;
margin:0 0 40rem 0!important;
border:1rem solid#41a06c!important;
}
.woocommerce-shop .wp-block-column p{
text-align:center;
}
.woocommerce-shop a.btn{
background:#41a06c!important;
}
/*BBB Shop*/
/*BBB General*/
.woocommerce ul.products li.product a img{
width:auto;
margin:auto!important;
}
.woocommerce h2{
line-height:1.4!important;
font-weight:300!important;
font-size:15rem!important;
margin:15rem 0 30rem 0!important;
}
.woocommerce .columns-3 li{
width:33.333%!important;
padding:0 15rem!important;
}
/*BBB General*/
/*BBB Categorías*/
.tax-product_cat h1{
margin:0 0 20rem 0!important;
}
.tax-product_cat p{
text-align:center;
margin:0 0 30rem 0!important;
}
/*BBB Categorías*/
/*BBB Perfil*/
.single-product h1{
font-size:25rem!important;
margin:0 0 20rem 0!important;
}
.single-product .perfil{
width:110rem;
margin:0 auto 22rem auto!important;
}
.single-product .perfil img{
border-radius:20rem;
margin:7rem 0 2rem 0!important;
}
.single-product .summary{
width:100%!important;
}
.single-product .woocommerce-tabs li a{
font-weight:300!important;
}
/*BBB Perfil*/
/*None*/
a.next,
.price,
.count,
a.prev,
.byline,
.wc-tabs,
.related,
.nav-next,
.edit-link,
body::before,
.site-footer,
.product_meta,
.nav-previous a,
.posted-on:before,
.screen-reader-text,
.woocommerce-tabs h2,
.blog .entry-content,
.author .site-content,
.search .site-content,
.woocommerce-ordering,
.category .site-content,
.error404 .page-content,
.woocommerce-breadcrumb,
.woocommerce-result-count,
.single-post .post-thumbnail,
.woocommerce-product-gallery,
a.button.product_type_simple{
display:none!important;
}
/*None*/
@media screen and (max-width: 954px){
/*Body*/
body .site-content{
width:100%;
margin:0!important;
}
body .content-area{
width:90%;
}
body a.custom-logo-link{
justify-content:flex-start;
}
/*Body*/
/*Sidebar*/
.sidebar{
width:100%;
position:relative!important;
box-shadow:0 0 5rem 2rem rgb(0 0 0 / 2%)!important;
}
.sidebar ul{
margin:0 0 -10rem 0!important;
}
/*Sidebar*/
/*Páginas*/
.page-template-default h1{
margin:32rem 0 20rem 0!important;
}
/*Páginas*/
/*Inicio*/
.home h1{
width:100%;
margin:35rem auto 25rem auto!important;
}
/*Inicio*/
/*Página 723*/
.page-id-723 .actividades{
padding:20rem 15rem 0 15rem!important;
}
/*Página 723*/
/*Comunicados*/
.blog .post-thumbnail img{
width:80%;
}
/*Comunicados*/
/*Comunicado*/
.single-post h1{
margin:0 0 30rem 0!important;
}
.single-post .wp-block-image{
width:80%;
}
/*Comunicado*/
/*BBB General*/
.woocommerce .columns-3 li{
width:50%!important;
clear:none!important;
}
/*BBB General*/
/*BBB Perfil*/
.single-product h1{
margin:0 0 21rem 0!important;
}
.single-product .perfil{
margin:0 auto 25rem auto!important;
}
.single-product .woocommerce-tabs ol{
margin:-5rem 0 23rem 0!important;
}
/*BBB Perfil*/
}
@media screen and (max-width: 781px){
/*Body*/
body .custom-logo{
width:100rem!important;
max-width:none!important;
}
/*Body*/
/*Inicio*/
.home .wp-block-columns p{
margin:0 0 21rem 0!important;
}
.home p,
.home h2{
text-align:center!important;
}
/*Inicio*/
/*Página 723*/
.page-id-723 .wp-block-column{
margin:0 0 30rem 0!important;
}
/*Página 723*/
/*Comunicados*/
.blog .post-thumbnail img{
width:100%;
}
/*Comunicados*/
/*Comunicado*/
.single-post .wp-block-image{
width:100%;
}
/*Comunicado*/
/*BBB Shop*/
.woocommerce-shop .wp-block-columns p{
margin:0 0 15rem 0!important;
}
.woocommerce-shop a.btn{
width:60%;
}
/*BBB Shop*/
}
